body {
    color: white;
    background-color: #0a041a;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: large;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.25em 0 0.5em 0;
    line-height: 1.2;
}

h1 {
    margin-bottom: 0.25em;
}
